<!-- Header -->
<%- include('./layouts/employeeHeader') %>
<!-- Popup Messages -->
<%- include('./partials/message') %>
<!-- main body -->
<%- include('./layouts/employeBody') %>

<!-- Add Employee Form -->
<%- include('./layouts/addEmpform') %>
<div id="overlay"></div>
<div class="loader"></div>
<!-- Alert Popup -->
<%- include('./partials/popUp') %>
<!-- Footer -->
<%- include('./layouts/employeeFooter') %>
